/* 标题栏 */
.head{
 background-color:yellow;
 font-size:30px;
}
/* 标题栏全部图片链接 */
.body-img-a{
 background-color:green;
}
/* 标题栏空网站链接 */
.nall-web{
 background-color:red;
}
/* 语文word网站 */
.chinese-class{
 background-color:0xe3f2fd;/* 浅蓝色 */
}
/* 返回标签 */
.go-up-a{
 background-color:red;
}
